main {
    display: flex;
    align-items: center;
    background-color: #00a3cc;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 50px;
    position: relative;
    gap: 1rem;
}

main div:first-child {
    width: fit-content;
}

main div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2a3e4f;
    border-radius: 50px;
    color: #f5f5f5;
    padding-right: 0.3rem;
}

main div:nth-child(2) > ul {
    list-style-type: none;
    min-width: 26rem;
}
main div:nth-child(2) > ul > li {
    font-size: 1.1rem;
    margin-top: 0.6rem;
}

.selected {
    fill: green;
}

svg {
    width: 1010.6727px;
    height: 665.96301px;
}

@media only screen and (max-width: 1600px) {
    main {
        align-items: flex-start;
    }
    main div:nth-child(2) {
        position: absolute;
        bottom: -20%;
        left: 50%;
        transform: translateX(-35%);
        border: 1px solid #cecece;
    }
    main div:nth-child(2) > ul > li {
        font-size: 1.05rem;
        margin-top: 0.2rem;
    }
    svg {
        width: 700px;
    }
  }