

<main class="main">
  <div>
    <router-outlet></router-outlet>
  </div>
  <div>
    <h2>Country Info</h2>
    <ul>
      <li>Name: <span *ngIf="res_data">{{ res_data[1][0].name }}</span></li>
      <li>Capital: <span *ngIf="res_data">{{ res_data[1][0].capitalCity }}</span></li>
      <li>Region: <span *ngIf="res_data">{{ res_data[1][0]["adminregion"].value }}</span></li>
      <li>Income level: <span *ngIf="res_data">{{ res_data[1][0]["incomeLevel"].value }}</span></li>
      <li>Longitude: <span *ngIf="res_data">{{ res_data[1][0].longitude }}</span></li>
      <li>Latitude: <span *ngIf="res_data">{{ res_data[1][0].latitude }}</span></li>
    </ul>
  </div>
</main>


<!-- <router-outlet></router-outlet> -->
<!--<app-svg (newItemEvent)="setData($event)"></app-svg>-->
